body{
    font-family: sans-serif;
}

.container{
    margin: 0px auto;
    width: 970px;
}

.container{
    background-color: #333333;
    height: 980px;
}

.wrapper{
    margin: 0px 40px;
}

    .nav button{
        background-color: #cf88883a;
        color: white;
        border: none;
        padding: 12px 10px;
    }

.pull-left{
    margin-left: 535px;
    display: inline;
}
.banner{
    background-color: #cc6600;
    text-align: center;
    color: white;
}
    .banner h2{
       padding: 30px 0px;
    }
.content{
    background-color: white;
    padding-top: 15px;
}

    .content ul{
        color: ffffcc;
    }
    .content div ul .danger {
        background-color: red;
    }

    .content div ul .normal{
        background-color: #996600;
    }
    .content ul li{
        text-align: center;
        width: 65px;
        display: inline-block;
        background-color: #339933;
        padding: 2px;
    }
    .content .browserName li{
        background-color: white;
        color: black;
        padding-bottom: 20px;
        border-bottom: 2px solid black;
    }
    .content p, .content h1{
        padding-left: 10px;
    }
    .content ul li:empty{
        min-height: 19px;
        vertical-align: middle;
        background-color: #ffcccc;
    }

.explanation{
    background-color: #cccc99;   
    padding: 15px 0px;
}
.es6{
    display: inline-block;
    width: 300px;
    border-bottom: 1px solid white;
}

.notable{
    background-color:#ffcccc;
    padding: 1px;
    color: black;
}

sup{
    position: relative;
    right: 10px;
}

.hashtag{
    position: absolute;
    top:215px;
    left: 209px;
    background-color: #cc6600;
    color: white;
    padding: 5px;
    font-size: 20px;
}

.description{
    width: 467px;
}